*{
    box-sizing: border-box;
}
body, h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0;
}
.top-menu{
    padding: 50px 0 10px 0;
}
.logo{
    font-size: 34px;
    font-weight: 700;

}
.logo a{
    font-family: "Montserrat", Arial, sans-serif;
    text-decoration: none;
    color: #595959;
}
.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    padding: 15px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", Arial, sans-serif;
}
.menu ul li a:hover{
    color:#88c8bc ;
}
.menu ul li a{
    text-decoration: none;
    color: #595959;
}
.search-group{
    margin-top: 15px;
}
.search-group .search-in {
    padding: 5px ;
    border: 1px solid #595959 ;
    border-radius:30px ;
}
.search-group a{
    padding-left: 30px;
    font-size: 20px;
}
.search-group a i{
    color: #595959;
}

.sale{
    padding: 14px 0;
    background-color: #88c8bc;
}
.sale-title h4{
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 200;
    font-family: "Montserrat", Arial, sans-serif;
}

